@model IEnumerable<PaymentApp.Models.BankAccount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IbanCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IbanCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.AccountNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BankAccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BankAccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BankAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
