@model PaymentApp.Models.Transfer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumberGiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumberGiver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumberTaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumberTaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyNavigation.CurrencyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
